//theme
///bg-colour
$popup-message-bar-bg: $firebrick;
$primary-btn-bg-colour: $firebrick;
$secondary-btn-bg-colour: $white;
$default-nav-link: $gray;
$active-nav-link: $firebrick;
$breaking-news-bg-colour: $black;

///text-colour
$primary-text-colour: $black;
$secondary-text-colour: $white;
$metadata-text-colour: $steelblue;
$primary-btn-text-colour: $white;
$secondary-btn-text-colour: $black;
$input-placeholder-text-colour: $darkgray;

//font-style
$default-heading-font-weight: $font-weight-medium;
$breaking-heading-font-weight: $font-weight-bold;
$default-heading-font-size: $font-size-lg;
$default-heading-font-weight: $font-size-xl;

$card-border-radius: 0.625rem;
