html {
  box-sizing: "border-box";
}

*,
*::before,
*::after {
  box-sizing: "inherit";
}

html,
body,
#root,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  background-color: #f4f5f8;
  overflow-x: hidden;
}

header,
main,
footer,
section,
article,
aside,
caption,
figure {
  display: block;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul,
ol,
li,
code,
blockquote {
  display: block;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 0;
  padding-right: 0;
}

ul,
ol,
li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.app {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.main-content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.25rem 0;
  margin: 0 auto;
}

.news-category-navigation {
  flex-basis: 15%;
}

.news-page-display {
  flex-basis: 85%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  border-bottom: 0.0625rem solid #b2b2b1;
}

.pop-up-message-bar {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 3.5rem;
  padding: 0.25rem 0.5rem;
  margin: 0 auto;
  background-color: #bb1e1e;
}
.pop-up-message-bar-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pop-up-message-highligted-text {
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
}
.pop-up-message-text {
  font-size: 0.925rem;
}

.text-section {
  flex-basis: 64%;
  align-items: baseline;
}
.text-section p {
  flex-grow: 1;
  width: auto;
  color: #fff;
  padding: 0 0.5rem;
}

.add-to-homepage-section {
  flex-basis: 32%;
  padding: 0 1rem;
}
.add-to-homepage-section div {
  flex-basis: 40%;
  width: 100%;
  text-align: center;
}

.search-bar {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 5rem;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}
.search-bar-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.25rem 0.5rem;
}

.app-brand-name {
  flex-basis: 18%;
}
.app-brand-name a {
  text-decoration: none;
}

.brand-name {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
.brand-name span:first-of-type {
  color: #bb1e1e;
}
.brand-name span:last-of-type {
  color: #1d1d1b;
}

.search-form-section {
  flex-basis: 82%;
}

.search-form {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 0;
  margin: 0 auto;
}
.search-form button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  margin: 0.25rem 0;
  width: auto;
}
.search-input {
  width: 100%;
  border: 0.0625rem solid #fff;
  border-radius: 0.625rem;
  padding: 0.625rem 3rem;
  color: #b2b2b1;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.17);
}
.search-icon {
  display: inline-block;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  margin: 0.25rem 0;
  width: auto;
  padding: 0.5rem 1rem;
  color: #b2b2b1;
}

.news-category-nav {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  max-width: 100%;
  padding: 0.5rem 0;
  margin: 0 auto;
}
.news-category-nav-link {
  width: auto;
  margin: 0.25rem auto;
  text-decoration: none;
}
.news-category-nav-link-item {
  width: 6rem;
  text-align: center;
  padding: 0.5rem 0.625rem;
  margin: 0 auto;
}
.news-category-nav-link-item span {
  text-align: center;
  margin: 0 auto;
  color: #797a7b;
}
.news-category-nav-link:active div, .news-category-nav-link:hover div, .news-category-nav-link:focus div {
  background-color: #fff;
  box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.17);
  border-radius: 0.625rem;
}
.news-category-nav-link:active .news-category-icon, .news-category-nav-link:active .news-category-text, .news-category-nav-link:hover .news-category-icon, .news-category-nav-link:hover .news-category-text, .news-category-nav-link:focus .news-category-icon, .news-category-nav-link:focus .news-category-text {
  color: #bb1e1e;
}
.news-category-icon {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
}
.news-category-text {
  width: auto;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0;
  margin: 0 auto;
}

.add-to-homepage-btn {
  border: 0.0625rem solid #fff;
  border-radius: 0.625rem;
  background-color: #fff;
  color: #1d1d1b;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.45rem 1.125rem;
  margin: 0 auto;
}

.reject-btn {
  color: #fff;
  font-weight: 500;
  border-radius: 0.625rem;
  padding: 0.45rem 1.125rem;
}

.search-btn {
  background-color: #bb1e1e;
  border-radius: 0.625rem;
  color: #fff;
  padding: 0.4rem 1.125rem;
}

.news-card {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.18);
}
.news-card-img {
  width: 100%;
  height: 100%;
  max-height: 11rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.news-source {
  font-size: 0.875rem;
  font-weight: 500;
  color: #3c84c5;
  padding: 0.25rem 0;
}

.news-page {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}
.news-page-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  grid-auto-rows: minmax(6.25rem, auto);
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.latest-news {
  grid-column: 3;
  grid-row: 1/3;
}
